:root {
    --background: #262626;
    --text: #FFFFFF;
    --text2: #BBBBBB;
    --primary: #B5EDA8;
    --secondary: #DDD5F6;
    --accent: #F76515;
    --header-size: 10vh;
    font-family: 'Merriweather', serif;
}

/*---Logo---*/

.Logo {
    z-index: -1;
    position: absolute;
    left: calc(100vw - 10vw - 90vh);
    top: var(--header-size);

    --cross-angle: -45deg;
}

.Logo > * {
    position: absolute;
}

.LogoTopPrimary {
    background: var(--primary);
    height: 3.5vh;
    width: 90vh;
}

.LogoTopSecondary {
    background: var(--secondary);
    height: 1.5vh;
    width: 80vh;
    top: 5vh;
    left: 20vh;
}

.LogoTopHidden {
    background: var(--background);
    height: 8vh;
    width: 100vh;
    z-index: -2;
}

.LogoCrossPrimary {
    background: var(--primary);
    height: 1.5vh;
    width: 105vh;
    top: 39vh;
    left: 0.05vh;
    transform: rotate(var(--cross-angle));
    z-index: -3;
}

.LogoCrossSecondary {
    background: var(--secondary);
    height: 3.5vh;
    width: 98vh;
    top: 38vh;
    left: 9.5vh;
    transform: rotate(var(--cross-angle));
    z-index: -3;
}

.LogoBottomPrimary {
    background: var(--primary);
    height: 3.5vh;
    width: 90vh;
    top: 76vh;
    left: 15vh;
}

.LogoBottomSecondary {
    background: var(--secondary);
    height: 1.5vh;
    width: 80vh;
    top: 73vh;
    left: 5vh;
}

.LogoBottomHidden {
    background: var(--background);
    height: 8vh;
    width: 100vh;
    top: 71.5vh;
    z-index: -2;
}

/*---Back---*/

.Back {
    height: var(--header-size);
    width: var(--header-size);
}

.Back > * {
    position: relative;
    background: var(--text);
}

.Back > *:hover {
    background: var(--accent);
    box-shadow: var(--accent) 0 0 10px;
}

.BackHorizontalLine {
    height: 1vh;
    width: calc(var(--header-size) / 2);
    top: calc(var(--header-size) / 2 - 0.5vh)
}

/*----------*/

body {
    background: var(--background);
    color : var(--text);
    margin: 0;
}

a {
    text-decoration: none;
    color : var(--text);
}

.DefaultHeader {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.MainHeader {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.MainHeader > nav {
    margin-right: 10vw;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
}

.NavLinks {
    padding: 0 1vw;
    margin: 0;
    transition: 0.2s;
    display: block;
}

.NavLinks:hover {
    color: var(--accent);
    text-shadow: var(--accent) 0 0 10px;
}

.Name {
    font-size: 6.5em;
    font-weight: bold;
    margin: 0;
}

.FirstName {
    padding-top: 5vh;
    padding-left: 10vw;
}

.SecondName {
    padding-left: 20vw;
}

.Title {
    margin: 0;
    padding-left: 0.15em;
    font-size: 3em;
}

.Who {
    margin: 0;
    padding-top: 5vh;
    padding-left: 15vw;
    font-size: 1em;
    color: var(--text2);
}

.Link {
    color: var(--accent);
    text-decoration: underline;
}

.HighlightSecondary {
    color: var(--secondary);
}

.HighlightPrimary {
    color: var(--primary);
}

